################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ModernSoftwareArchitecture/HotelBookingConsoleAppMonolith/.vs/HotelBookingConsoleAppMonolith/v16/Server/sqlite3
/HotelBookingConsoleAppMonolith/.vs/HotelBookingConsoleAppMonolith/v16
/HotelBookingConsoleAppMonolith/HotelBookingConsoleAppMonolith
/HotelBookingConsoleAppMonolith/.vs/HotelBookingConsoleAppMonolith/DesignTimeBuild/.dtbcache.v2
/HotelBookingConsoleAppMonolithModules/.vs/HotelBookingConsoleApp
/HotelBookingConsoleAppMonolithModules/BookingBL
/HotelBookingConsoleAppMonolithModules/BookingDAL
/HotelBookingConsoleAppMonolithModules/CrossCuttingConcerns/bin/Debug/netcoreapp3.1
/HotelBookingConsoleAppMonolithModules/CrossCuttingConcerns/obj
/HotelBookingConsoleAppMonolithModules/GuestsService/bin/Debug/netcoreapp3.1
/HotelBookingConsoleAppMonolithModules/GuestsService/obj
/HotelBookingConsoleAppMonolithModules/HotelBookingConsoleAppUI/obj
/HotelBookingConsoleAppMonolithModules/netcoreapp3.1
/HotelBookingConsoleAppMonolithModules/OrdersService/bin/Debug/netcoreapp3.1
/HotelBookingConsoleAppMonolithModules/OrdersService/obj/Debug/netcoreapp3.1
/HotelBookingConsoleAppMonolithModules/OrdersService/obj
/HotelBookingConsoleAppMonolithModules/RoomsService/bin/Debug/netcoreapp3.1
/HotelBookingConsoleAppMonolithModules/RoomsService/obj/Debug/netcoreapp3.1
/HotelBookingConsoleAppMonolithModules/RoomsService/obj/RoomsService.csproj.nuget.g.targets
/HotelBookingConsoleAppMonolithModules/RoomsService/obj/RoomsService.csproj.nuget.g.props
/HotelBookingConsoleAppMonolithModules/RoomsService/obj/RoomsService.csproj.nuget.dgspec.json
/HotelBookingConsoleAppMonolithModules/RoomsService/obj/project.nuget.cache
/HotelBookingConsoleAppMonolithModules/RoomsService/obj/project.assets.json
